.analytics-bar {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    clear: both;
    padding-top: 20px;
}
.analytic-card {
    flex: 1;
    background-color: var(--bg-subcard);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border-color);
}
.analytic-card .title {
    font-size: 13px;
    color: var(--text-sub);
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 600;
}
.analytic-card span:last-child { font-size: 24px; font-weight: bold; }